body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0f;
  color: white;
}

.app {
  min-height: 100vh;
  padding-bottom: 70px;
}

button {
  background: #ffd700;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
